<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<h1>Шановний користувач,</h1>

<h2>Ось нова можливість, яку ми знайшли для вас:</h2>

<hr>
<div th:utext="${description}"></div>

<hr>

<p>
    Ви можете переглянути можливість на нашому веб-сайті:
    <a th:href="${opportunityLink}">Натисніть тут</a> або
    безпосередньо на веб-сайті джерела: <a th:href="${opportunitySourceLink}">Натисніть тут</a>.
</p>

<p>
    Якщо ви більше не бажаєте отримувати ці сповіщення, ви можете скасувати підписку тут:
    <a th:href="${unsubscribeLink}">Скасувати підписку</a>
</p>

<p>
    З повагою,<br>
    Команда UOPP
</p>

</body>
</html>